/* FOOTER */
@mixin footerDefaultGroup {
  height: 68.4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black-color;
}

/* NAVBAR */
@mixin navbarDefaultGroup {
  height: 90px;
  max-width: 1206;
  margin: 0 41px 0 41px;
  background-color: $black-color;
}
