/* FOOTER */
@mixin footerDefaultGroup {
  height: 68.4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black-color;
}

/* NAVBAR */
@mixin navbarDefaultGroup {
  height: 54px;
  display: flex;
  max-width: 1206;
  margin: 0 auto;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  background-color: $black-color;
}
