@font-face {
  font-family: Robot-Light;
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: Robot-Light;
  src: url('../fonts/Roboto-LightItalic.ttf');
}

@font-face {
  font-family: Robot-Regular;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Robot-Regular-Italic;
  src: url('../fonts/Roboto-Regular.ttf');
  font-style: italic;
}

@font-face {
  font-family: Robot-Medium;
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: Robot-Medium-Italic;
  src: url('../fonts/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: Robot-Bold;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Robot-Bold-Italic;
  src: url('../fonts/Roboto-BoldItalic.ttf');
}

@font-face {
  font-family: Robot-Black;
  src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: Robot-Black-Italic;
  src: url('../fonts/Roboto-BlackItalic.ttf');
}
