// Global styles
@import './_typography.scss';
@import './_colors.scss';
@import './globalMixins.scss';

// Components
@import './components/footer.scss';
@import './components/navbar.scss';
@import './components/ourvoice.scss';
@import './components/menu.scss';
@import './components/contact.scss';
@import './components/contactForm.scss';
@import './components/ourskills.scss';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Robot-Regular;
  background-color: $black-color;
}

main,
.App {
  height: 100%;
}

.App {
  display: grid;
  grid-template-rows: 9.4% auto 7.1%;
}
