// Global styles
@import './_typography.scss';
@import './_colors.scss';
@import './globalMixins.scss';

// Components
@import './components/footer.scss';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Robot-Regular;
}
