.contact {
  @include globalSectionPadding;
  font-size: 45px;
  color: white;

  div {
    max-width: 834px;
  }
  h1 {
    span {
      color: $green-color;
      margin: 0px 15px 0px 0px;
    }
  }
}

@media (max-width: 450px) {
  .contact {
    font-size: 36px;
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
