@mixin itemMaxBreakGroup($margin) {
  margin-right: $margin;
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@mixin linkGroup {
  margin-left: 3px;
  width: 8px;
}

@mixin textGroup {
  color: $white-color;
}

.footer { 
   @include footerDefaultGroup;

    &-right {
      text-align: right;
      
      &-copyright {
        @include textGroup;
      }
    }

    &-left {
      display: flex;

      &-text {
        @include textGroup;
      }

      &-linkedin {
        @include itemMaxBreakGroup(8px);
      }

      &-github {
        @include itemMaxBreakGroup(8px);
      }

      &-link {
        @include linkGroup;
      }
    }
  }

@media (max-width: 428px) {
  .footer {
    &-right {
      text-align: right;
    }

    &-left {
      display: flex;
      flex-direction: column;

      &-linkedin {
        @include itemMaxBreakGroup(7px);
      }

      &-github {
        @include itemMaxBreakGroup(7px);
      }

      &-link {
        @include linkGroup;
      }
    }
  }
}
