//Mixins
@mixin textLinks {
  color: $white-color;
}

@mixin funcionality($rogue) {
  display: $rogue;
}

@mixin information {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 13px;
  font-weight: 400;
  color: $white-color;
}

@mixin button {
  content: '';
  height: 8px;
  width: 8px;
  background-color: #10c64e;
  border-radius: 50%;
}

@mixin container {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//Navbar
.navbar {
  @include navbarDefaultGroup;

  &__container-right-button {
    cursor: pointer;
  }

  &__container {
    @include container;
    //left
    &-left {
      &-img-responsive {
        @include funcionality(none);
      }

      &-img {
        width: 98px;
        height: 29px;
      }
    }

    //right
    &-right {
      @include information;

      &-button {
        @include button;
      }
    }
  }
}

//Media Query
@media (max-width: 450px) {
  .navbar {
    &__container {
      @include container;
      @include navbarDefaultGroup;
      //left
      &-left {
        &-img {
          @include funcionality(none);
        }

        &-img-responsive {
          @include funcionality(initial);
        }
      }
      //right
      &-right-information {
        @include funcionality(none);
      }
    }
  }
}
