@mixin h1Left {
  font-size: 14px;
  font-weight: 400;
  width: 70px;
}

@mixin items-title {
  font-size: 24px;
  font-weight: 600;
}

@mixin items-post {
  font-size: 24px;
  font-weight: 400;
}

@mixin items-content {
  font-size: 13px;
  font-weight: 300;
}

@mixin items-links {
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
}

@mixin items-readers {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
}

.ourvoice {
  @include ourVoiceDefaultGroup;
  @include globalSectionPadding;

  &__title {
    @include funcionality(none);
  }

  &__container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 35px;

    &-left {
      &-title {
        @include h1Left;
      }

      &-post {
        @include items-post;
        @include funcionality(none);
      }
    }

    &-right {
      display: flex;

      gap: 35px;
      width: 878px;

      &-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 277px;
        height: 131px;
        position: relative;

        &-content {
          @include items-content;
        }

        &-title {
          @include items-title;
        }

        &-information {
          display: flex;
          flex-direction: column;
          justify-self: flex-end;
          position: absolute;
          bottom: 0;
          right: 0;
          bottom: 0;
          &-readers {
            @include items-readers;
          }
          &-links {
            @include items-links;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .ourvoice {
    &__title {
      @include funcionality(initial);
      &-hero {
        font-size: 14px;
        font-weight: 400;
        color: $green-color;
      }

      &-post {
        font-weight: 400;
        font-size: 24px;
      }
    }
    &__container {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      overflow: auto;
      width: 90vw;

      &-left {
        @include funcionality(none);
      }
    }
  }
}
